{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPS list</title>
    <link rel="stylesheet" href="{% static 'upsinfo/upsinfo.css' %}">
</head>
<body>
<table>
    <tr>
        <th>UPS name</th>
        <th>IP</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Status</th>
        <th>Battery</th>
        <th>Battery</th>
        <th>Input</th>
        <th>Load</th>
        <th>Temperature</th>
        <th>Run time</th>
    </tr>
    {% for ups in ups_list %}
        <tr>
            {% if not ups.error %}
                <td><a href="{% url 'upsinfo:events' %}?id={{ ups.ups.id }}">{{ ups.ups.name|default:ups.snmp.name }}</a></td>
                <td>{{ ups.ups.ip }}</td>
                <td>{{ ups.snmp.manufacturer }}</td>
                <td title="{{ ups.snmp.battery_sku|default:"" }}">{{ ups.snmp.model }}</td>
                <td>{{ ups.snmp.status_string|linebreaksbr }}</td>
                {% if ups.snmp.battery != None %}
                    <td>
                        <meter id="battery" min="0" max="100" low="20" optimum="100"
                               value="{{ ups.snmp.battery }}"></meter>
                        {{ ups.snmp.battery }}%
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ ups.snmp.battery_voltage|default:"" }} V</td>
                <td>{{ ups.snmp.input_voltage }} V</td>
                <td>
                    {% if ups.snmp.load != None %}
                        <meter id="load" min="0" low="10" max="100" high="90" value="{{ ups.snmp.load }}"></meter>
                        {{ ups.snmp.load }}%
                    {% endif %}
                </td>
                <td>{{ ups.snmp.battery_temperature }} C</td>
                <td>{{ ups.snmp.runtime|time:"H:i" }}</td>
            {% else %}
                <td><a href="{% url 'upsinfo:events' %}?id={{ ups.ups.id }}">{{ ups.ups.name|default:"" }}</a></td>
                <td>{{ ups.ups.ip }}</td>
                <td>{{ ups.ups.vendor }}</td>
                <td colspan="8" class="error">{{ ups.error }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

</body>
</html>